In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.metrics import mean_squared_error,r2_score
df=pd.read_csv("Brand_Sales_Data.csv")

# Remove extra space in column name
df.columns = df.columns.str.strip()

In [35]:
df.isnull().sum()

Date              0
Brand Name        0
Country           0
Gross Sales       0
Net Sales         0
Total Sales       0
Total Ad Spend    0
Order Count       0
Return Amount     0
dtype: int64

In [36]:
print("Info:\n",df.info)

Info:
 <bound method DataFrame.info of            Date Brand Name Country  Gross Sales  Net Sales  Total Sales  \
0     12/1/2023    Brand A   India    741965.00   81590.00      84590.0
1     12/1/2023    Brand B   India    436999.88  397480.70     437840.0
2     12/1/2023    Brand B   India    356610.67  326684.67     361550.0
3     12/1/2023    Brand C   India    313971.46  313971.46     332050.0
4     12/1/2023    Brand A   India    280979.00  280979.00     280979.0
...         ...        ...     ...          ...        ...          ...
1671  5/31/2024    Brand D      SA     39310.00    9488.00      19933.0
1672  5/31/2024    Brand A      SA     10677.00   23560.00      37284.0
1673  5/31/2024    Brand D      SA     33782.00   23298.00      36346.0
1674  5/31/2024    Brand E      SA     24212.00   13746.00      23728.0
1675  5/31/2024    Brand B   India     25114.00   18594.00      31592.0

      Total Ad Spend  Order Count  Return Amount
0          7731.0000           16          84765
1          6549.0000           30          11964
2          4583.0000           19           6671
3          3610.0000           28           5420
4          8287.0000            6           9958
...              ...          ...            ...
1671       6538.4800            5           1201
1672       6346.6668            6          13367
1673       5369.5000            8           1675
1674       4710.9400            4           7544
1675          0.0000            8          12202

[1676 rows x 9 columns]>

In [37]:
df.columns

Index(['Date', 'Brand Name', 'Country', 'Gross Sales', 'Net Sales',
       'Total Sales', 'Total Ad Spend', 'Order Count', 'Return Amount'],
      dtype='object')

In [38]:
df.describe()

,Gross Sales,Net Sales,Total Sales,Total Ad Spend,Order Count,Return Amount
count,1676.000000,1676.000000,1676.000000,1676.000000,1676.000000,1676.000000
mean,44408.425119,37667.272757,39811.418335,6755.771888,5.590692,10066.879475
std,44416.168202,42062.690512,45086.594247,3457.055990,4.071394,6201.226815
min,32.000000,-440765.290000,-445742.260000,0.000000,0.000000,18.000000
25%,19718.750000,15453.000000,16148.750000,4824.471373,2.000000,4836.750000
50%,33257.500000,27256.500000,28291.500000,6459.750000,5.000000,10048.500000
75%,47719.750000,39104.000000,39836.250000,8094.500000,8.000000,15411.000000
max,741965.000000,397480.700000,437840.000000,24876.327200,30.000000,84765.000000

In [39]:
df.head()

,Date,Brand Name,Country,Gross Sales,Net Sales,Total Sales,Total Ad Spend,Order Count,Return Amount
0,12/1/2023,Brand A,India,741965.00,81590.00,84590.0,7731.0,16,84765
1,12/1/2023,Brand B,India,436999.88,397480.70,437840.0,6549.0,30,11964
2,12/1/2023,Brand B,India,356610.67,326684.67,361550.0,4583.0,19,6671
3,12/1/2023,Brand C,India,313971.46,313971.46,332050.0,3610.0,28,5420
4,12/1/2023,Brand A,India,280979.00,280979.00,280979.0,8287.0,6,9958

In [42]:
df_model=df[['Total Ad Spend','Total Sales']]
df_model.describe()

       Total Ad Spend    Total Sales
count     1676.000000    1676.000000
mean      6755.771888   39811.418335
std       3457.055990   45086.594247
min          0.000000 -445742.260000
25%       4824.471373   16148.750000
50%       6459.750000   28291.500000
75%       8094.500000   39836.250000
max      24876.327200  437840.000000

In [43]:
# Correlation
print(df_model.corr())

                Total Ad Spend  Total Sales
Total Ad Spend        1.000000    -0.067028
Total Sales          -0.067028     1.000000

In [50]:
# simple linear model

X=df_model[['Total Ad Spend']]
y=df_model['Total Sales']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

model=LinearRegression()
model.fit(X_train,y_train)

y_pred=model.predict(X_test)

mse=mean_squared_error(y_test,y_pred)
mae=mean_absolute_error(y_test,y_pred)
rmse=np.sqrt(mse)
r2=r2_score(y_test,y_pred)

print("Slope:",model.coef_[0])
print("Intercept:",model.intercept_)
print("MSE:",mse)
print("MAE:",mae)
print("RMSE:",rmse)
print("R2:",r2)

Slope: -0.9517303155690922
Intercept: 46699.19060481772
MSE: 2209080023.342683
MAE: 27768.758776425482
RMSE: 47000.85130444642
R2: -0.0020224901199941137

In [59]:
# Multiple linear regression

X_m=df[['Total Ad Spend','Order Count','Return Amount']]
y=df['Total Sales']

X_m_train,X_m_test,y_train,y_test=train_test_split(X_m,y,test_size=0.2,random_state=42)

model_m=LinearRegression()
model_m.fit(X_m_train,y_train)

y_pred_m=model_m.predict(X_m_test)

mse=mean_squared_error(y_test,y_pred_m)
mae=mean_absolute_error(y_test,y_pred_m)
rmse=np.sqrt(mse)
r2=r2_score(y_test,y_pred_m)

print("Slope:",model_m.coef_)
print("Intercept:",model_m.intercept_)
print("MSE:",mse)
print("MAE:",mae)
print("RMSE:",rmse)
print("R2:",r2)

Slope: [-9.45234544e-01  6.26459708e+03 -1.28489210e-01]
Intercept: 13022.67522564849
MSE: 1770439519.0517113
MAE: 25297.40417307469
RMSE: 42076.59110540814
R2: 0.19694162423203165